.main-container {
  width: 1550px;
  background-color: #f9f9f9;
  margin-left: 350px;
}

.main-sidebar {
  width: 350px;
  background: black;
  overflow-y: scroll;
  color: white;
  height: 100%;
  scrollbar-width: 1px;
  position: fixed;
  top: 50px;
}

.main-sidebar::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.main-sidebar::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

.product-box {
  padding: 30px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.link {
  color: white;
  padding: 10px;
  border: 1px solid #6a6a6a;
  border-radius: 8px;
  background: blueviolet;
  margin: 10px;
  width: 250px;
  transition: all 0.3s;
}

.link:hover {
  background-color: rgb(159, 100, 255);
  cursor: pointer;
}

.navigation {
  width: 100%;
  height: 50px;
  background: #eee;
  position: fixed;
  top: 0;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
}

.nav-ul li {
  margin: 0 10px;
}

.nav-ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search:focus,
textarea:focus,
select:focus {
  outline: none;
}
